.habit-card{
  display: flex;
  align-items: center;
  text-align: left;
  justify-content:space-between;
  border-radius: 8px;
  padding: 5px;
  box-shadow: 0px 1px 3px rgba(90,90,90,0.1);
  grid-template-columns: 6fr 1fr;
  grid-template-areas: "title checkbox";
  position: relative;
  background: var(--card-bg) ;
  align-items: center;
  margin-bottom: 4px;
}

.gh-details{
  display: flex;
  flex-direction: column;
  flex: 1;
}

.gh-options {
}

.gh-options a {
  float: left;
  margin-right: 10px;

  display: flex;
  flex-direction: column;
  font-size: 1.5em;
  justify-content: space-evenly;
  align-items: center;
  color: #000000 ;

}

.card-container {
  display: grid;
  grid-template-columns: 66px 1fr;
  border: 2px solid $color-2;
  margin: 10px;
  padding: 16px;
  border-radius: 20px;
  margin: 8px auto;
  position: relative;
  min-height: 100px;

  @media screen and(max-width: 590px) {
    grid-template-columns: 1fr;
  }
  @media screen and(max-width: 440px) {
    padding-top: 26px;
  }

  .fa-spinner {
    position: absolute;
    top: 40%;
    left: 49%;
    font-size: 1.5rem;
    color: $color-1;
  }

  .card-right {
    @media screen and(max-width: 590px) {
      margin-left: 18px;
    }
    .card-header {
      display: grid;
      grid-template-columns: 1fr 10fr 2fr;
      grid-template-areas: "time title";
      grid-column-gap: 10px;

      text-align: left;

      @media screen and(max-width: 590px) {
        margin: 12px 0 14px;
      }

      .card-actions {
        display: flex;
      }
    }
    .card-body {

    }
  }
}
